<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h1>Hi {{name}}!</h1>
    <p>Thanks for joining. Your password is: <strong>{{password}}</strong></p>
    <p>Team {{organization}}</p>
  </body>
</html>